.olLayerGoogleCopyright{
    right: 15px;
    bottom: 10px;
    left: auto;
}
.olLayerGoogleV3.olLayerGoogleCopyright{
    bottom: 0px;
    right: 0px !
  important;
}
.olLayerGooglePoweredBy{
    left: 2px;
    bottom: 15px;
}
.olLayerGoogleV3.olLayerGooglePoweredBy{
    bottom: 0px !important;
}
div.olMapViewport {
    text-align: left;
    border-radius: 20px 20px 20px 20px;
}